/* 공통 */
.pmo-cont {width:100%;margin:0 auto;overflow:hidden;}
.hidden {overflow:hidden;display:inline-block;position:relative;z-index:-1;border:0;width:1px;height:1px;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);}
.font-gt {font-family:"GT-America", sans-serif !important;}
.font-pre {font-family:"Pretendard", sans-serif !important;}

.motion {transition: transform 0.0s ease, opacity 0.0s ease; opacity: 0;}
.motion.bottom {-webkit-transform: translate(0, 100%);transform: translate(0, 100%);}
.motion.in {transition: 1s ease, opacity .8s ease; transform: translate(0,0); opacity: 1;}

.motion.delay {-webkit-transition-delay: .1s;transition-delay: .1s;}
.motion.delay1 {-webkit-transition-delay: .2s;transition-delay: .2s;}
.motion.delay2 {-webkit-transition-delay: .3s;transition-delay: .3s;}
.motion.delay3 {-webkit-transition-delay: .4s;transition-delay: .4s;}
.motion.delay4 {-webkit-transition-delay: .5s;transition-delay: .5s;}
.motion.delay5 {-webkit-transition-delay: .6s;transition-delay: .6s;}
.motion.delay6 {-webkit-transition-delay: .7s;transition-delay: .7s;}
.motion.delay7 {-webkit-transition-delay: .8s;transition-delay: .8s;}
.motion.delay8 {-webkit-transition-delay: .9s;transition-delay: .9s;}
.motion.delay9 {-webkit-transition-delay: 1s;transition-delay: 1s;}
.motion.delay10 {-webkit-transition-delay: 1.1s;transition-delay: 1.1s;}
.motion.delay11 {-webkit-transition-delay: 1.2s;transition-delay: 1.2s;}
.motion.delay12 {-webkit-transition-delay: 1.3s;transition-delay: 1.3s;}
.motion.delay13 {-webkit-transition-delay: 1.4s;transition-delay: 1.4s;}
.motion.delay14 {-webkit-transition-delay: 1.5s;transition-delay: 1.5s;}
.motion.delay15 {-webkit-transition-delay: 1.6s;transition-delay: 1.6s;}
.motion.delay16 {-webkit-transition-delay: 1.7s;transition-delay: 1.7s;}
.motion.delay17 {-webkit-transition-delay: 1.8s;transition-delay: 1.8s;}
.motion.delay18 {-webkit-transition-delay: 1.9s;transition-delay: 1.9s;}
.motion.delay19 {-webkit-transition-delay: 2s;transition-delay: 2s;}
.motion.delay20 {-webkit-transition-delay: 2.1s;transition-delay: 2.1s;}

/* 유의사항 */
.list-notice { position:relative; text-align:center;margin-left:auto;margin-right:auto;}
.list-notice .tit { font-weight:500; font-size:inherit; line-height:1.33;letter-spacing:-0.02em;text-align:center;display:block;}
.list-notice .tit button { font:inherit; color:inherit;display:inline-block;}
.list-notice .tit button:after {content:" 보기";}
.list-notice.on .tit button:after {content:" 닫기";}
.list-notice ul { display:none; margin-top:10px; }
.list-notice.on ul { display:inline-block; }
.list-notice ul li { position:relative;padding:0px 0px 0px 10px;font-size:inherit;line-height:1.67;text-align:left;letter-spacing:-0.03em;word-break:keep-all;}
.list-notice ul li:before { content:"·"; content:"-"; position:absolute; left:0; top:0; width:10px;}

/* 이미지 슬라이더 */
.pmo-slider{position:relative;}
.pmo-slider .slide{position:absolute;top:0;left:0;}

/* 흐르는 배너 기본 */
.marq-bnr .marq-cont-wrap {display:flex;white-space:nowrap;}

/* 시간별 노출 기본 */
.pmo-cont [class*=timeView_] {display:none; }